body {
    padding:0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: 0px;
    overflow: hidden;
}
a {
    text-decoration:none;
}
.section {
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: cover;
}
.ability{
    margin: 0 auto;
    width: 600px;
    line-height: 100px;
    font-size: 30px;
    color: #fff;
}
.page-one{
    width:600px;
    height:350px;
    /*background-color:#fff;*/
    margin: 0 auto;
    text-align: center;
}
.welcome{
    width: 200px;
    line-height: 50px;
    background-color: #2296E8;
    border-radius: 10px;
    margin: 0 auto;
    color: #fff;
    font-weight: bold
}
.welcome a{
    color: #fff;
}
.page-one-bar{
    font-size: 50px;
    line-height: 120px;
    margin: 0px;
    color: #fff;
    padding-top: 20px;
}
#bth li {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #2296e8;
}
#bth {
    width: 20px;
    position: fixed;
    top: 50%;
    right: 5%;
}
li {
    list-style-type: none;
}
.body {
    height: 100%;
    position: relative;
    top: 0px;
}
#bth li a {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
}
#down-bth {
    background-image: url(../images/down.png);
    width: 30px;
    height: 30px;
    display: block;
    position: fixed;
    bottom: 10px;
    left: 49%;
}
.page-two-left{
    float: left;
    width: 630px;
    color: #fff;
    margin: 5%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
.page-two-left p{
    display: none;
}
#tagsList {
    position: absolute;
    width:600px;
    height:300px;
    margin: 3% 50%;
}
#tagsList a {
    position:absolute;
    top:0px;
    left:0px;
    font-family: Microsoft YaHei;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    padding: 3px 6px;
}
#tagsList a:hover {
    color:#FF0000;
    letter-spacing:2px;
}
.page-three-body{
    width: 80%;
    height: 300px;
    margin: 0 auto;
}
.page-three-body li{
    float: left;
    width: 30%;
    height: 200px;
    margin-left: 2%;
    margin-bottom: 2%;
    display: none; 
    overflow: hidden;
}
.page-three-body img{
    width: 100%;
    background-color: #fff;
}
.page-four-body{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
}
.page-four-body span{
    color: #fff;
}
.page-four-top,.page-four-bottom{
    width: 100%;
    height: 45%;
}
.page-four-top ul,.page-four-bottom ul{
    height: 99%;
    margin: 0;
    padding-top: 1%;
}
.page-four-bottom ul{
    margin-left: 10%;
}
.page-four-top{
    display: none;
}
.page-four-bottom{
    margin-left: 1000px;
}
.page-four-body hr{
    width: 98%;
    height: 2%;
    background-color: #2296E8;
    border-radius: 10px;
    margin-left: -1200px;
}
.page-four-body li{
    background-color: #D3D6DB;
    float: left;
    margin-left: 5%;
    width: 40%;
    height: 80%;
    border:1px solid #2296E8;
    border-radius: 10px;
    padding: 10px
}
.page-four-top li{
   
}
.page-four-bottom li{
    
}
.page-five-body{
    width: 80%;
    height: 75%;
    margin: 0 auto;
    text-align: left;
}
.page-five-left{
    width: 60%;
    height: 95%;
    margin: 1%;
    float: left;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.page-five-left a{
    color: #fff;
    text-decoration: none;
}
.page-five-right{
    width: 30%;
    height: 95%;
    float: left;
    margin: 1%;
    margin-left: 6%;
}
.page-five-left div{
    width: 48%;
    float: left;
}
.page-five-left .aboutme{
    width: 100%;
}
.page-one{
    color: #fff;
    font-size: 16px;
}